<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt align-center">About Me</h1>

						<div class="module-subtitle font-inc align-center">
						</div>

					</div>

				</div>
				<!-- /MODULE TITLE -->

			</div>

		</section>
    <section class="module">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">

					<div class="col-sm-6">

						<h2 class="module-title font-alt">Background</h2>

						<div class="module-subtitle font-inc">
							A former fashion industry professional's foray into the wonderful world of tech!
						</div>

					</div>

          <div class="col-sm-6">

            <h2 class="module-title font-alt">Skills</h2>

            <div class="module-subtitle font-inc">

            </div>

          </div>

				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<!-- ABOUT CONTENT -->
					<div class="col-sm-6">
						<p>For the last eight years, I have been working in the fashion industry. Over that time, I have seen the industry shift and change, becoming increasingly more focused on e-commerce and digital service. For two years, I ran the e-commerce website at the handbag company I worked for and, in the process, had the opportunity to assist in a full site redesign. As I was working with the developers and making recommendations for features, it dawned on me that I didn't want to be working with the developers; I wanted to be the developer.</p>

						<p>Many years ago, in high school, I took a few classes in JavaScript and Visual Basic. I also taught myself HTML and CSS by building and designing the make-your-own websites (such as Angelfire and Geocities) that were popular at the time. I had always enjoyed the problem-solving aspect of coding and working on the site redesign reinspired that interest in me.</p>

            <p>Over the next few months, I reached out to my network and discussed options for truly learning to code. I landed at the Flatiron School, an intense, immersive coding bootcamp. For three months, I worked harder than I have ever worked. We covered a tremendous amount of information including, but not limited to:

              <ul>
                <li>Ruby</li>
                <li>Ruby on Rails</li>
                <li>Ruby on Sinatra</li>
                <li>JavaScript</li>
                <li>Ember.js</li>
                <li>HTML and CSS</li>
                <li>SQL</li>
              </ul>

              I have been continually amazed at the amount of information I am able to learn in such a short period of time. Check out some of the amazing <a href="/projects">projects</a> that I created at Flatiron and have worked on since graduating!</p>

              <p>Please feel free to reach out to me via email at <a href="mailto:kdonovan2005@gmail.com">kdonovan2005@gmail.com</a> or any of the links below!</p>

						<ul class="social-list">
							<li><a href="https://github.com/kdonovan2005" target="_blank"><span class="fa fa-lg fa-github"></span></a></li>
							<li><a href="https://www.linkedin.com/in/kristinydonovan" target="_blank"><span class="fa fa-lg fa-linkedin"></span></a></li>
							<li><a href="https://rubyisshiny.tumblr.com" target="_blank"><span class="fa fa-lg fa-tumblr"></span></a></li>
              <li><a href="https://learn.co/kdonovan2005/resume" target="_blank"><span class="fa fa-lg fa-file-text"></span></a></li>
              <li><a href="mailto:kdonovan2005@gmail.com" target="_top"><span class="fa fa-lg fa-envelope"></span></a></li>
						</ul>

					</div>
					<!-- /ABOUT CONTENT -->

					<!-- SKILLS -->
					<div class="col-sm-6">

            <h5 class="progress-title font-inc">Ruby on Rails</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="font-inc" style="opacity: 1;">Intermediate</span>
              </div>
            </div>

            <h5 class="progress-title font-inc">HTML and CSS</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="font-inc" style="opacity: 1;">Intermediate</span>
              </div>
            </div>

						<h5 class="progress-title font-inc">JavaScript</h5>
						<div class="progress">
							<div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
								<span class="font-inc" style="opacity: 1;">Proficient</span>
							</div>
						</div>

						<h5 class="progress-title font-inc">Ember.js</h5>
						<div class="progress">
							<div class="progress-bar pb-dark" aria-valuenow="25" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
								<span class="font-inc" style="opacity: 1;">Beginner</span>
							</div>
						</div>

            <h5 class="progress-title font-inc">PHP</h5>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="25" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                <span class="font-inc" style="opacity: 1;">Beginner</span>
              </div>
            </div>

					</div>
					<!-- /SKILLS -->

				</div>

			</div>

		</section>
</div>
