<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt align-center">Contact</h1>

						<div class="module-subtitle font-inc align-center">

						</div>

					</div>

				</div>
				<!-- /MODULE TITLE -->

			</div>

		</section>

    <section class="module-small">

			<div class="container">

				<div class="row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="https://github.com/kdonovan2005" target="_blank"> <span class="fa fa-lg fa-github"></span> </a>
							</div>
							<div class="content-box-title font-inc">
								kdonovan2005
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="https://www.linkedin.com/in/kristinydonovan" target="_blank"> <span class="fa fa-lg fa-linkedin"></span> </a>
							</div>
							<div class="content-box-title font-inc">
								Kristin Donovan
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-icon">
                <a href="https://rubyisshiny.tumblr.com" target="_blank"> <span class="fa fa-lg fa-tumblr"></span> </a>
              </div>
              <div class="content-box-title font-inc">
                rubyisshiny.tumblr.com
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-icon">
                <a href="https://learn.co/kdonovan2005/resume" target="_blank"> <span class="fa fa-lg fa-file-text"></span> </a>
              </div>
              <div class="content-box-title font-inc">
                Resume
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="mailto:kdonovan2005@gmail.com" target="_top"> <span class="fa fa-lg fa-envelope"></span> </a>
							</div>
							<div class="content-box-title font-inc">
								kdonovan2005@gmail.com
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
</div>
