<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt align-center">Web Development Professional</h1>

						<div class="module-subtitle font-inc align-center">

						</div>

					</div>

				</div>
				<!-- /MODULE TITLE -->

			</div>

		</section>

    <section class="module-small">

			<div class="container">

				<div class="row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="https://github.com/kdonovan2005"><span class="fa fa-lg fa-github"></span></a>
							</div>
							<div class="content-box-title font-inc">
								GITHUB
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="https://learn.co/kdonovan2005/resume" target="_blank"> <span class="fa fa-lg fa-file-text"></span> </a>
							</div>
							<div class="content-box-title font-inc">
								RESUME
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<a href="https://www.linkedin.com/in/kristinydonovan" target="_blank"> <span class="fa fa-lg fa-linkedin"></span> </a>
							</div>
							<div class="content-box-title font-inc">
								LINKEDIN
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>


</div>
