<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Tutoring</h1>

					<div class="module-subtitle font-inc align-center">

					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>

  <section class="module">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-8 col-sm-offset-2">

					<div class="module-subtitle align-center font-inc">
            I am available for tutoring in a variety of programming languages, both front-end and back-end.<br>
            All tutoring is subject to my availability. Preferrence will be given to students who are currently enrolled in a program (such as a bootcamp attendees, high school programming students, computer science majors, etc.). <br>
            For tutoring availability and pricing, please <a href="mailto:kdonovan2005@gmail.com">email me</a>. <br>
            Please provide the approximate hours per week needed, preferred times (mornings, evenings, etc.), and preferred days. <br>
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

			<div class="row">

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/Df2Xah1.png" alt="" style="height: 250px; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">Ruby</h5>
								<p>Ruby tutoring available for vanilla Ruby, Ruby on Sinatra, and Ruby on Rails. Help with SQL statements, Active Record, data modeling, API calls (and creating custom Rails APIs), etc.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Ruby</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/Ft7MGJA.png" alt="" style="height: 250px; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">JavaScript</h5>
								<p>JavaScript tutoring available for vanilla JavaScript, JQuery, AJAX calls, and more! Tutoring in a front-end framework, such as Ember.js, is also available.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">JavaScript</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/qhGzy47.png" alt="" style="height: 250px; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">HTML/5</h5>
								<p>HTML and HTML5 tutoring available on the various tags that are available, how to use them, and best practices.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">HTML/5</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/Cl3W8wJ.png" alt="" style="height: 250px; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">CSS/SaSS</h5>
								<p>CSS and SaSS tutoring available on the various ways to select and style elements on the page. CSS animation tutoring also available.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">CSS/SaSS</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

			</div>

		</div>

	</section>

</div>
