<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Tutoring</h1>

					<div class="module-subtitle font-inc align-center">

					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>

  <section class="module">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h2 class="module-title align-center font-alt">Tutoring Languages</h2>

					<div class="module-subtitle align-center font-inc" style="text-align:justify;">
						I am available for tutoring in a variety of programming languages, both front-end and back-end. Please <a href="mailto:kdonovan2005@gmail.com">email me</a> for specific day/time availability. Please provide the following information:<br>
            <p style="text-align: center;">Approximate hours per week <br>
            Preferred day(s) <br>
            Preferred time of day (i.e. mornings, evenings, etc.) <br></p>
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

			<div class="row">

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="assets/images/team-1.jpg" alt="">
							<div class="team-detail">
								<h5 class="font-inc">Ruby</h5>
								<p>Ruby tutoring available for vanilla Ruby, Ruby on Sinatra, and Ruby on Rails. Help with SQL statements, Active Record, data modeling, etc.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Ruby</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="assets/images/team-2.jpg" alt="">
							<div class="team-detail">
								<h5 class="font-inc">Hi all</h5>
								<p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
								<ul class="social-list">
									<li><a href="#"><span class="icon-facebook"></span></a></li>
									<li><a href="#"><span class="icon-twitter"></span></a></li>
									<li><a href="#"><span class="icon-googleplus"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Adele Snow</div>
							<div class="team-role">Designer</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="assets/images/team-3.jpg" alt="">
							<div class="team-detail">
								<h5 class="font-inc">Hi all</h5>
								<p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
								<ul class="social-list">
									<li><a href="#"><span class="icon-facebook"></span></a></li>
									<li><a href="#"><span class="icon-twitter"></span></a></li>
									<li><a href="#"><span class="icon-googleplus"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Ann Smith</div>
							<div class="team-role">Art Director</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="assets/images/team-4.jpg" alt="">
							<div class="team-detail">
								<h5 class="font-inc">Hi all</h5>
								<p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
								<ul class="social-list">
									<li><a href="#"><span class="icon-facebook"></span></a></li>
									<li><a href="#"><span class="icon-twitter"></span></a></li>
									<li><a href="#"><span class="icon-googleplus"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Andy River</div>
							<div class="team-role">Account manager</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

			</div>

		</div>

	</section>
</div>
