<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/RJjN6Rp.jpg" style="background-image: url('http://i.imgur.com/RJjN6Rp.jpg');">

			<div class="container">

				<!-- MODULE TITLE -->
				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt align-center">Projects</h1>

						<div class="module-subtitle font-inc align-center">

						</div>

					</div>

				</div>
				<!-- /MODULE TITLE -->

			</div>

		</section>

		<section class="module-small p-t-20 p-b-60">

			<div class="container">

				<!-- PORTFOLIO HEADER -->
				<div class="row">
					<div class="col-sm-12 align-center">

						<h5>Unfortunately, some of my client work includes sensitive information and can't be displayed here. A few projects that aren't listed below include:</h5>
            <ul style="list-style-position: inside;">
              <li>A dashboard application that parses JSON data and displays graphs. Coded in JavaScript</li>
              <li>An application that parses JSON data and completes some mathematical analytics on the associated data. Coded in Ruby.</li>
            </ul>

					</div>
				</div>
				<!-- /PORTFOLIO HEADER -->

				<!-- PORTFOLIO LIST -->
				<ul id="works-grid" class="works-grid works-grid-3" style="position: relative; height: 582.609px;">
					<% @projects.each do |project| %>

					<!-- PORTFOLIO ITEM -->
					<li class="work-item illustration webdesign">
						<a href="/projects/<%= project.id %>">
							<div class="work-image" style="height: 100%; width: 100%;">
								<img src="<%= project.photo %>" alt="">
							</div>
							<div class="work-caption">
								<h3 class="work-title font-alt"><%= project.title %></h3>
								<div class="work-descr font-inc">
									<%= project.tag_line %>
								</div>
							</div>
						</a>
					</li>
					<!-- /PORTFOLIO ITEM -->
					<% end %>
				</ul>
				<!-- /PORTFOLIO LIST -->

			</div>

		</section>
</div>
