/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 */

body {
  background-color: black;
}

.wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-container-nav {
  list-style: none;
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  -webkit-flex-flow: row;
  justify-content: flex-end;
  z-index: 100;
}

.flex-container-nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #fff;
}

@media all and (max-width: 800px) {
  .flex-container-nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .flex-container-nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .flex-container-nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
