<!DOCTYPE html>
<html>
  <head>
    <title>Kristin Donovan | Web Developer</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">

      <nav class="nav-bar" role="navigation">

        <ul class="flex-container-nav">
          <li><a href="/pages/home">Home</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/pages/tutoring">Tutoring</a></li>
          <li><a href="https://rubyisshiny.tumblr.com" target="_blank">Blog</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>

      </nav>

      <%= yield %>

      <footer class="footer" style="background-color: #000;">

  			<div class="container">

  				<div class="row">

  					<div class="col-sm-12 text-center">
  						<p class="copyright font-inc m-b-0">© 2016 KRISTIN DONOVAN, All Rights Reserved.</p>
  					</div>

  				</div>

  			</div>

  		</footer>

    </div>

  </body>
</html>
